# Telekom Security Linux OS Hardening
# File generated during automated hardening with Ansible

# This file contains the auditctl rules that are loaded
# whenever the audit daemon is started via the initscripts.
# The rules are simply the parameters that would be passed
# to auditctl.

# First rule - delete all
-D

# Increase the buffers to survive stress events.
# Make this bigger for busy systems
-b 320

# System events
{% if config_system_events %}
{% for sys in system_events %}
{{sys}}
{% endfor %}
{% for ossys in os_specific_system_events %}
{{ossys}}
{% endfor %}
{% endif %}

# Access and authentication events
{% if config_access_events %}
{% for acc in access_events %}
{{acc}}
{% endfor %}
{% for osacc in os_specific_access_events %}
{{osacc}}
{% endfor %}
{% endif %}

# Account and group management events
{% if config_account_group_mgmt_events %}
{% for agm in account_group_mgmt_events %}
{{agm}}
{% endfor %}
{% endif %}

# Configuration change events
{% if config_change_events %}
{% for chg in change_events %}
{{chg}}
{% endfor %}
{% for oschg in os_specific_change_events %}
{{oschg}}
{% endfor %}
{% endif %}

# Configure MAC events
{% if config_mac %}
{% if config_selinux_logging %}
{% for chg in selinux_logging_events %}
{{chg}}
{% endfor %}
{% endif %}
{% if config_apparmor_logging %}
{% for chg in apparmor_logging_events %}
{{chg}}
{% endfor %}
{% endif %}
{% endif %}

# Events for priviledged commands
{% for cmd in priv_commands.stdout_lines %}
-a always,exit -F path={{ cmd }} -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged
{% endfor %}

-e 2
