# Telekom Security Linux OS Hardening
# File generated during automated hardening with Ansible

{% if disable_filesystems %}
{% for fs in filesystems %}
install {{fs}} /bin/true
{% endfor %}
{% endif %}
